

<div id="forum_root" class="pt70">
  <div class="container">
    <%= render partial: 'forum/support/forum_head' %>
  </div>
  <div class='container'>
    
    <%= render partial: 'forum/support/forum_nav_head' %>
    
    <div class="col-lg-12 pl0 pr0 pt20">
      <div class="col-lg-9 pl0">
        
        <!-- TOPIC -->
        <div id="topic_<%= @topic.id %>" class="col-lg-12 pl0 pr0 mt10 mb10 pt10 pb10" style="border: 1px solid #eaeaea;">
          <%= render partial: 'forum/root/inside/topic' %>
        </div>
        
        <div class="col-lg-12">
          <%= will_paginate @replies %>
        </div>
        
        <!-- REPLIES --> 
        <% @replies.each do |reply| %>
        <div id="reply_<%= reply.id %>" class="col-lg-12 pl0 pr0 pt10 pb10">
          <% @reply = reply %>
          <%= render partial: 'forum/root/inside/reply' %>
        </div>
        <% end %>
        
        <div class="col-lg-12">
          <%= will_paginate @replies %>
        </div>
        
        
        <% if current_user %>
          <%= render partial: 'one_topic_reply_form' %>
        <% end %>
        
      </div>
      <div class="col-lg-3">
        <%= render partial: 'forum/support/search_form' %>
        <%= render partial: 'forum/support/new_topic_button' %>
        <%#= render partial: 'forum/support/popular_topics' %>
      </div>
    </div>
  </div>
</div>

<%= render "widget/footer" %>

<script>
  ncore.load();
  ncore.cart_count();
  ncore.active_nav('nav-forum');
  forum_root.page_onload('<%= @head_active %>');
</script>