<%= render 'widget/head_top' %>


<section class="container back-white pl0 pr0">
  <%= render "widget/nav" %>

  <div class="container">
    <%= render partial: 'forum/support/forum_head' %>
  </div>
  <div class='container'>
    
    <%= render partial: 'forum/support/forum_nav_head' %>
    
    <div class="col-lg-12 pl0 pr0 pt20">
      <% if @forum_articles.size > 0 %>
      <div class="col-lg-9 pl0">
        <div class="col-lg-12 pl0 pr0">
          <%= will_paginate @forum_articles %>
        </div>
        
        <% @forum_articles.each do |fa| %>
          <% if fa.forum_topic_flag == 1 %>
            <!-- topic section -->
            <div class="col-lg-12 pl0 pr0 mt10 mb10">
              <h3><a href="/forum/<%=  fa.forum_cat_slug %>/<%= fa.id %>/<%= fa.forum_permalink %>">[Topic] <%= fa.forum_title %></a></h3>
              <div>
                <%= (sanitize(fa.forum_body)).gsub(/\W/,' ')[0..300] %>
                <a href="/forum/<%=  fa.forum_cat_slug %>/<%= fa.id %>/<%= fa.forum_permalink %>">[...]</a>
              </div>
            </div>  
          <% elsif fa.forum_topic_flag == 0 %>
            <% # permalink-nya berarti pakai permalink induk (topic) %>
            <% @induk = ForumArticle.find(fa.forum_parent_id) %>
            <!-- reply section -->
            <div class="col-lg-12 pl0 pr0 mt10 mb10">
              <h3><a href="/forum/<%=  fa.forum_cat_slug %>/<%= @induk.id %>/<%= @induk.forum_permalink %>#reply_<%= fa.id %>">[Reply] <%= @induk.forum_title %></a></h3>
              <div>
                <%= (strip_tags(fa.forum_body)).gsub(/\W/,' ')[0..300] %>
                <a href="/forum/<%=  fa.forum_cat_slug %>/<%= @induk.id %>/<%= @induk.forum_permalink %>">[...]</a>
              </div>
            </div>
          <% end %>
        <% end %> <!-- end each -->
        
        <div class="col-lg-12 pl0 pr0">
          <%= will_paginate @forum_articles %>
        </div>
            
      </div>
      
      <% else %>
        <div class="col-lg-9">
          no result ...
        </div>
      <% end %>
      
      <div class="col-lg-3">
        <%= render partial: 'forum/support/search_form' %>
        <%= render partial: 'forum/support/new_topic_button' %>
        <%#= render partial: 'forum/support/popular_topics' %>
      </div>
    </div>
  </div>
</section>

<%= render "widget/footer" %>

<script>
  ncore.load();
  ncore.cart_count();
  ncore.active_nav('nav-forum');
  forum_root.page_onload('<%= @head_active %>');
</script>